body {
    background-color:#34DAA0 ;
    color: #0A3A1C ;
    font-family:Arial, sans-serif;

}

header { 
    background-color:#34DAA0;
    color:#0A3A1C;
    text-align:center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #1d5209;
}

p {
    font-size: 18px;
    line-height:1.6;
}

main {
    width: 80%;
    margin: auto;

}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;

}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}